{% extends 'layout.html' %}

{% block content %}
    {% for post in posts %}
        {% if site.post_limit and loop.index > site.post_limit %}{% break %}{% endif %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
            <header class="post-header">
                <h2 itemprop="name headline" class="post-title">
                    <a itemprop="url" href="{{ get_url(post.url) }}">{{ post.title }}</a>
                </h2>
                <time class="post-meta-pubdate" datetime="{{ post.timestamp|date('%Y-%m-%d %H:%M:%S+01:00') }}">{{ post.date }}</time> -
                <a class="post-meta-comments" href="http://daker.me{{ get_url(post.url) }}#disqus_thread" data-disqus-url="http://daker.me{{ get_url(post.url) }}"></a>
            </header>
            <div class="post-content">
                <div class="post-content-inner">
                    <div class="post-field">{% if post.excerpt %}{{ post.excerpt }}{% else %}{{ post.content }}{% endif %}
                        <a class="post-more" href="{{ get_url(post.url) }}" class="post-more">Continue Reading</a>
                    </div>
                </div>
            </div>
        </article>
    {% endfor %}
    {% if site.post_limit and posts|length > site.post_limit %}
        <div class="pagination">
            <p><a href="{{ get_url('archives/') }}">Read Older Posts</a></p>
        </div>
    {% endif %}
{% endblock %}

{% block extrafooter %}
<script type="text/javascript">
    // <![CDATA[
    var disqus_shortname = 'daker-blog';
    (function () {
        var s = document.createElement('script');
        s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + 'disqus.com/forums/' + disqus_shortname + '/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    //]]>
</script>
{% endblock %}
