{% extends 'layout_1col.html' %}

{% block extrahead %}<title>Resumé — {{ site.title }}</title>
    <meta name="title" content="Resumé — {{ site.title }}">
    <meta property="og:image" content="http://daker.me{{ get_asset('images/avatar.png') }}">
    <meta property="og:title" content="Resumé — {{ site.title }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:type" content="article">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@AdnaneBelmadiaf">
    <meta property="twitter:image" content="http://daker.me{{ get_asset('images/avatar.png') }}">
    <meta property="twitter:title" content="Resumé — {{ site.title }}">
    <meta property="twitter:url" content="http://daker.me/resume.html">
    <meta name="twitter:creator" content="@AdnaneBelmadiaf">{% endblock %}

{% block content %}
<h2 class="title">Resumé</h2>
<section class="resume">
    <h3 class="subtitle">Adnane Belmadiaf</h3>
    <div class="social">
        <a href="https://launchpad.net/~daker" class="icon-tux" title="Launchpad" target="_blank"></a>
        <a href="https://github.com/daker" class="icon-github" title="Github" target="_blank"></a>
        <a href="https://plus.google.com/101694416703170881163" class="icon-google-plus" title="Google Plus" target="_blank"></a>
        <a href="https://twitter.com/AdnaneBelmadiaf" class="icon-twitter" title="Twitter" target="_blank"></a>
        <a href="{{ get_url('feed.xml') }}" class="icon-feed" title="RSS feed" target="_blank"></a>
    </div>
    <section>
        <h1>Experience</h1>
        <section>
            <header>
                <h2>Web Developer</h2>
                <p>at <a href="http://hitradio.ma/" target="_blank">HIT RADIO S.A</a> — <em>February 2011 - Present</em></p>
            </header>
            <h3>Responsibilities</h3>
            <ul>
                <li>Building a new website using Django.</li>
                <li>Delivering cross browser, hand-coded HTML/CSS/JavaScript.</li>
                <li>Maintaining and updating live sites.</li>
                <li>Implement new features and solve issues with the main website.</li>
                <li>Troubleshoot performance, reliability and scalability issues.</li>
            </ul>
        </section>

        <section>
            <header>
                <h2>Web Developer</h2>
                <p>at Kadev <abbr title="Société à responsabilité limitée">S.A.R.L</abbr> — <em>October 2010 - February 2011</em></p>
            </header>
            <h3>Responsibilities</h3>
            <ul>
                <li>Building templates – slicing and coding.</li>
                <li>Updating front-end code and resolving UI bugs.</li>
                <li>Deploying sites using Wordpress, Joomla.</li>
                <li>Technical support to clients in person, on phone, and over the Internet.</li>
            </ul>
        </section>

        <section>
            <header>
                <h2>Front-end Developer</h2>
                <p>Freelance — <em>October 2007 - 2009/January‎ 2011 - Present</em></p>
            </header>
            <h2>Projects</h2>
            <h3>New (Front-end)</h3>
            <ul>
                <li>2013
                    <ul>
                        <li><a href="http://www.weunikorns.com" target="_blank">we unikorns</a></li>
                        <li><a href="http://maroc.ma/en" target="_blank">Maroc.ma</a> : The official Portal of the Kingdom of Morocco.</li>
                        <li><a href="http://identicar.com/" target="_blank">identicar.com</a> : A Complementary Insurance for Vehicles.</li>
                        <li><a href="http://fornetmaroc.com/" target="_blank">Fornetmaroc.com‎</a> : a Moroccan Web Agency.</li>
                        <li>Some Front-end work on <a href="http://doofry.com/" target="_blank">Doofry</a>, formerly LaCartePlz : a real-time web application that connects restaurants to their clients.</li>
                    </ul>
                </li>
                <li>2012
                    <ul>
                        <li>ToubibPlz</li>
                        <li>and more...</li>
                    </ul>
                </li>
            </ul>
            <h3>Old (Backend)</h3>
            <ul>
                <li><a href="http://www.alomranerabat.com/" target="_blank">alomranerabat.com</a> : Holding Alomrane - Urban development operator.</li>
                <li><a href="http://www.rachidelouali.com/" target="_blank">rachidelouali.com</a> : The official Website of the Moroccan Actor/Director Rachid El Ouali.</li>
                <li><a href="http://www.ifiag.com/" target="_blank">ifiag.com</a> : Private school of Management and Computer Science.</li>
                <li>Some backend work on <a href="http://www.ancfcc.gov.ma/" target="_blank"><abbr title="Agence Nationale de la Conservation Foncière, du Cadastre et de le Cartographie">ANCFCC</abbr></a>.</li>
            </ul>
        </section>
    </section>

    <section>
        <h1>Strengths & Skills</h1>
        <section>
            <header>
                <h2>Professional capabilities</h2>
            </header>
            <ul>
                <li>High-quality front-end development for web sites and applications.</li>
                <li>Ability to write modular, scalable, clean, and reusable code.</li>
                <li>Effective and efficient problem solver and open minded.</li>
                <li>Performance optimisation, progressive enhancement, usability, and accessibility.</li>
                <li>Ability to work remotely and collaborate with other remote developers.</li>
                <li>Motivated and capable of motivating others.</li>
            </ul>
        </section>
        <section>
            <header>
                <h2>Technical skills</h2>
            </header>
            <ul>
                <li>Ability to turn PSDs into pixel perfect clean coded HTML and CSS.</li>
                <li>Ability to deliver scalable HTML, CSS and JS.</li>
                <li>Ability to deliver responsive and mobile optimised webpages.</li>
                <li>Working knowledge of jQuery, Gruntjs and PhantomJS.</li>
                <li>Experience working with Python, PHP and Shell Scripting</li>
                <li>3 years of experience with Django.</li>
                <li>Some unit testing experience.</li>
                <li>Good knowledge of Google analytics</li>
                <li>Experience working with Vagrant.</li>
                <li>Experience working with Bazaar, Git.</li>
                <li>Experience working with Ubuntu, Windows and Mac OS X.</li>
                <li>Ability to keep up with the latest browsers developments.</li>
            </ul>
        </section>
    </section>

    <section>
        <h1>Open Source</h1>
        <section>
            <header>
                <h2>Ubuntu</h2>
            </header>
            <ul>
                <li>Official Ubuntu Member.</li>
                <li>Co-leader of the <a href="http://ubuntu-ma.org" target="_blank">Ubuntu Moroccan Team</a>.</li>
                <li>Developer of the <a href="https://launchpad.net/ubuntu-html5-theme" target="_blank">Ubuntu HTML5 SDK</a> project.</li>
                <li>Active commiter to <a href="http://loco.ubuntu.com" target="_blank">loco.ubuntu.com</a></li>
                <li>Active commiter to <a href="http://summit.ubuntu.com" target="_blank">summit.ubuntu.com</a></li>
                <li>Ex-developer of <a href="http://cloud.ubuntu.com" target="_blank">cloud.ubuntu.com</a></li>
                <li>Developer of <a href="http://ubuntu-manual.org" target="_blank">ubuntu-manual.org</a> website(made in 2009, still active).</li>
            </ul>

            <header>
                <h2>Gnome</h2>
            </header>
            <ul>
                <li>New contributor.</li>
            </ul>

            <header>
                <h2>Mozilla</h2>
            </header>
            <ul>
                <li>Contributed to Mozillians.org.</li>
            </ul>
        </section>
    </section>

    <section>
        <h1>Education</h1>
        <p>
            Professional License <abbr title="Administration de Parc PC">APPC</abbr>
            — <em>Jully 2010</em>
        </p>
        <p>University Mohammed V - Faculty of Sciences, Rabat, Morocco</p>
        <p>
            <abbr title="Brevet de Technicien Superieur">BTS</abbr> in Computer Engineering
            — <em>Jully 2008</em>
        </p>
        <p><abbr title="Ecole Normale Supérieure de l'Enseignement Technique">ENSET</abbr>, Rabat, Morocco</p>
        <p>Baccalauréat‎ in Electronics — <em>July 2005</em></p>
        <p>Technical High School, Salé, Morocco</p>
    </section>

    <section>
        <h1>Certifications</h1>
        <ul>
            <li><abbr title="Cisco Certified Network Associate">CCNA</abbr> 1 & 2</li>
        </ul>
    </section>

    <section>
        <h1>Languages</h1>
        <ul>
            <li>Arabic</li>
            <li>French</li>
            <li>English</li>
        </ul>
    </section>
</section>
{% endblock %}