{% extends 'layout_1col.html' %}

{% block content %}
    <h2 class="title">Work</h2>
    <ul class="work">
            <li>
                <a target="_blank" href="">
                    <img src="">
                </a>
            </li>
            <li>
                <a target="_blank" href="">
                    <img src="">
                </a>
            </li>
            <li>
                <a target="_blank" href="">
                    <img src="">
                </a>
            </li>
            <li>
                <a target="_blank" href="">
                    <img src="">
                </a>
            </li>
            <li>
                <a target="_blank" href="">
                    <img src="">
                </a>
            </li>
            <li>
                <a target="_blank" href="">
                    <img src="">
                </a>
            </li>
        </ul>
{% endblock %}
