{% extends 'layout.html' %}


{% set title = 'Archives  &rsaquo; ' ~ archive.year %}

{% block content %}
    <h2>Archives &rsaquo; {{ archive.year }}</h2>

    <ol id="timeline">
    {% for month, posts in archive.months %}
        {% for post in posts %}
        <li>
            <time datetime="{{ post.date }}">{{ post.timestamp|date('%b %d') }}</time>
            <p><a href="{{ get_url(post.url) }}">{{ post.title }}</a></p>
        </li>
        {% endfor %}
    {% endfor %}
    </ol>
{% endblock %}
