<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
    <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
    {% if site.author %}<meta name="author" content="{{ site.author }}">{% endif %}
    {% block extrahead %}<title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="title" content="">
    <meta property="og:image" content="{{ get_asset('images/avatar.png') }}">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:site_name" content="Adnane Belmadiaf">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@AdnaneBelmadiaf">
    <meta property="twitter:image" content="http://daker.me{{ get_asset('images/avatar.png') }}">
    <meta property="twitter:title" content="{{ site.title }}">
    <meta property="twitter:url" content="http://daker.me">
    <meta name="twitter:creator" content="@AdnaneBelmadiaf">
    <meta property="og:description" content="{{ site.description }}">
    <meta name="twitter:description" content="{{ site.description }}">{% endblock %}
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-precomposed-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-precomposed-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-precomposed-72.png">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png"></head>
    <link rel="shortcut icon" href="{{ get_asset('images/favicon.ico') }}" type="image/x-icon">
    {% if site.feed %}<link rel="alternate" href="{{ get_url('feed.xml') }}" type="application/atom+xml">{% endif %}
    <link rel="stylesheet" href="{{ get_asset('css/styles.css') }}" type="text/css">
    {% if site.pygmentize %}<link rel="stylesheet" href="{{ get_asset('css/pygments.css') }}" type="text/css">{% endif %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41135963-1', 'daker.me');
      ga('send', 'pageview');
    </script>
</head>

<body itemscope itemtype="http://schema.org/CreativeWork">
    <div id="nav">
        <a href="{{ get_url() }}">Blog</a>
        <a href="{{ get_url('archives/') }}">Archives</a>
        {% if site.feed %}<a href="{{ get_url('feed.xml') }}">Feed</a>{% endif %}
    </div>
    <div class="container" id="container">
        <aside id="sidebar">
            <a href="https://twitter.com/AdnaneBelmadiaf/" target="_blank" class="post-author-image" title="Go to my twitter profil">
                <img src="{{ get_asset('images/avatar.png') }}">
            </a>
            <div class="post-author-info">
                <a href="https://twitter.com/AdnaneBelmadiaf/" target="_blank" title="Go to my twitter profil" rel="author" class="post-author-name">Adnane Belmadiaf</a>
                <p>
                    Front-end developer
                </p>
            </div>
            {% block published %}{% endblock %}
        </aside>

        <section class="posts">
            {% block content %}{% endblock %}
        </section>
    </div>

    <footer id="footer">
        <p class="copyright">
            {% if site.author %}Copyright &copy; {{ none|date('%Y') }} {{ site.author }}{% endif %}<br />
            This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a></p>
    </footer>
</body>
</html>