{% extends 'layout.html' %}

{% block extrahead %}
<title>{{ post.title }} &ndash; {{ site.title }}</title>
<meta name="description" content="{{ site.description }}">
<meta name="title" content="{{ post.title }}">
<meta property="og:image" content="">
<meta property="og:title" content="{{ post.title }}">
<meta property="og:site_name" content="">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@AdnaneBelmadiaf">
<meta property="twitter:image" content="">
<meta property="twitter:title" content="{{ post.title }}">
<meta property="twitter:url" content="">
<meta name="twitter:creator" content="@AdnaneBelmadiaf">
<meta property="og:description" content="">
<meta name="twitter:description" content="">
{% endblock %}

{% block published %}
    <div class="post-published-date"> <strong>Published</strong>
        <p>
            <time class="post-date">{{ post.date }}</time>
        </p>
    </div>
    {% if post.tags %}
    <div class="post-published-date"> <strong>Tags</strong>
        <p>
        {% for tag in post.tags %}
            <a href="{{ get_url(tags[tag].url) }}">#{{ tag }}</a>
        {% if not loop.last %}, {% endif %}{% endfor %}
        </p>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    <header class="post-header">
        <h1 itemprop="name" class="post-title">{{ post.title }}</h1>
    </header>
    <div class="post-content">
        <div class="post-content-inner">
            <div class="post-field body">{{ post.content }}</div>
        </div>
    </div>

    <div id="disqus_thread"></div>
      <script type="text/javascript">
         var disqus_shortname = 'tummyltd'; // required: replace example with your forum shortname
         var disqus_identifier = '';
         var disqus_title = '';
         var disqus_developer = 0; // or 1 based on if you're looking to skip URL authentication
         /* * * DON'T EDIT BELOW THIS LINE * * */
         (function() {
         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
         dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
         })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}