/* - MOBILE STYLES
---------------------------------------------- */

/* 4.Tablet landscape / low resolution */
@media only screen and (min-width: 870px) and (max-width: 1170px){
    body{font-size: 1.3em;}
    #header {
        float:none;
        width:90%;
        text-align: center;
        margin-bottom: 15px;
    }
    #searchForm {
        display:block;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    #searchForm input[type=search] {
        margin: 0 auto;
        margin-top: 10px;
    }
    #nav{
        display:block;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    #container{ width:90%; }
    #footer { width: 100%;}
    #sidebar {
        float:none;
        width:auto;
        text-align: center;
        margin-right: 0;
        margin-top: 0;
    }
    .posts {
        float:none;
        width:auto;
    }
    .posts iframe {
        width: 100%;
    }

    .post-author-image {
        text-align: center;
    }

    .post-reading-time {
        display: none;
    }

    .post-published-date {
        text-align: center;
    }

    .post-published-date:before {
        width: 100%;
    }
    .post-tags {
        display: none;
    }
    .kippt-save-button {
        margin-top: 5px !important;
    }
    .timeline>li,.timeline>li:nth-of-type(even) {
        float: none;
        width: auto;
        text-align: center;
        margin-bottom: 10px;
    }
    .timeline li:before, .timeline li:after {
        display: none;
    }
    #year2013:after {
        margin-left: -25px;
    }

    .post .body>p>.post-image>img {
        max-width: 100%
    }
}


/* 2. Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 570px) and (max-width: 869px){

    body{font-size: 1.3em;}
    #header {
        float:none;
        width:90%;
        text-align: center;
        margin-bottom: 15px;
    }
    #searchForm{
        display:block;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    #searchForm input[type=search] {
        margin: 0 auto;
        margin-top: 10px;
    }
    #nav{
        display:block;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    #container{ width:90%; }
    #footer { width: 100%;}
    #sidebar {
        float:none;
        width:auto;
        text-align: center;
        margin-right: 0;
        margin-top: 0;
    }
    .posts {
        float:none;
        width:auto;
    }
    .posts iframe {
        width: 100%;
    }

    .post-author-image {
        text-align: center;
    }

    .post-reading-time {
        display: none;
    }

    .post-published-date {
        text-align: center;
    }

    .post-published-date:before {
        width: 100%;
    }
    .post-tags {
        display: none;
    }
    .kippt-save-button {
        margin-top: 5px !important;
    }
    .timeline>li,.timeline>li:nth-of-type(even) {
        float: none;
        width: auto;
        text-align: center;
        margin-bottom: 10px;
    }
    .timeline li:before, .timeline li:after {
        display: none;
    }
    #year2013:after {
        margin-left: -25px;
    }

    .post .body>p>.post-image>img {
        max-width: 100%
    }
    .row input[type=email] {
        width: 56%;
    }
}


/* 1. Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 569px){
    body{font-size: 1em;}
    #header {
        float:none;
        width:90%;
        text-align: center;
        margin-bottom: 15px;
    }
    #searchForm{
        display:block;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    #searchForm input[type=search] {
        margin: 0 auto;
        margin-top: 10px;
    }
    #nav{
        display:block;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    #container{ width:90%; }
    #footer { width: 100%;}
    #sidebar {
        float:none;
        width:auto;
        text-align: center;
        margin-right: 0;
        margin-top: 0;
    }
    .posts {
        float:none;
        width:auto;
    }
    .posts iframe {
        width: 100%;
    }

    .post-header>.post-title {
        font-size: 30px;
    }

    .post-author-image {
        text-align: center;
    }

    .post-reading-time {
        display: none;
    }

    .post-published-date {
        text-align: center;
    }

    .post-published-date:before {
        width: 100%;
    }
    .post-tags {
        display: none;
    }

    .post .body>p>.post-image>img {
        max-width: 100%;
    }

    .post .body>p>.post-image>img {
        max-width: 100%
    }

    .kippt-save-button {
        margin-top: 5px !important;
    }
    .timeline>li,.timeline>li:nth-of-type(even) {
        float: none;
        width: auto;
        text-align: center;
        margin-bottom: 10px;
    }
    .timeline li:before, .timeline li:after {
        display: none;
    }
    #year2013:after {
        margin-left: -25px;
    }
    .row input[type=email] {
        width: 46%;
    }
    .row input[type=submit] {
        padding: 9px 10px;
    }

}
