//----------------------------------*\
// CONFIG MODULES
//----------------------------------*/

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(https://themes.googleusercontent.com/static/fonts/ubuntu/v4/_xyN3apAT_yRRDeqB3sPRg.woff) format('woff');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(https://themes.googleusercontent.com/static/fonts/ubuntumono/v3/ViZhet7Ak-LRXZMXzuAfkYbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Mono Bold'), local('UbuntuMono-Bold'), url(https://themes.googleusercontent.com/static/fonts/ubuntumono/v3/ceqTZGKHipo8pJj4molytjqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Config modules
@import "modules/_vars.styl";
@import "modules/_normalize.styl";
@import "modules/_defaults.styl";

//----------------------------------*\
// OBJECTS & MODULES
//----------------------------------*/

@import "modules/_buttons.styl";
@import "modules/_figures.styl";
@import "modules/_forms.styl";
@import "modules/_lists.styl";
@import "modules/_quotes.styl";
@import "modules/_tables.styl";
@import "modules/_typography.styl";

//----------------------------------*\
// PARTIALS
//----------------------------------*/

@import "partials/_main.styl";
@import "partials/_post.styl";
@import "partials/_pagination.styl";
@import "partials/_footer.styl";
@import "partials/_archive.styl";
@import "partials/_demos.styl";
@import "partials/_resume.styl";
@import "partials/_work.styl";
@import "partials/_bsa.styl";
@import "partials/_pygments.styl";


// Enhancement modules
@import "modules/_print.styl";


@import "modules/_mobile.styl";
