figure
    margin 0
    & > img
        margin 0 auto
        display block
        -webkit-border-radius 3px
        -moz-border-radius 3px
        -ms-border-radius 3px
        -o-border-radius 3px
        border-radius 3px
        max-width 700px

figcaption
    font-size 13px
    font-style italic
    text-align center
    color #999
