blockquote
    font-style italic
    border-left 4px solid #e9573f
    margin 0 25px 20px 0
    padding-bottom 3px
    padding-left 10px
    &.pullquote
        padding 0
        line-height 1.4
        text-align center
        font-size 28px
        margin 48px -90px
        border-left 0
    & > p
        margin-bottom 0

