a
    color #e9573f
    font-weight 400
    text-decoration none
    -webkit-transition color .3s
    transition color .3s
    &:hover
        color #d44a34
        text-decoration underline

h1, h2, h3,
h4, h5, h6
    font-family 'Ubuntu', sans-serif
    font-weight 700
    line-height 1.3
    margin 0
    text-rendering optimizeLegibility

h1
    font-size 48.5px

h2
    font-size 31.5px

h3
    font-size 26.5px

h4
    font-size 22.5px

h5
    font-size 17.5px

h6
    font-size 14.5px

p, pre
    margin 0 0 30px

ul, ol
    padding 0
    margin 0 0 30px 25px

dl
    dt
        font-weight 700

hr
    position relative
    border 1px solid #e0e0df
    margin 15px auto
    max-width 480px
    width 100%
