.site-footer
    background #f9f9f9
    padding 1.5em 0
    overflow hidden
    border-top 1px solid #ddd
    margin-top 15px

.site-footer .copyright,
.site-footer .poweredby
    font-size 13px
    font-style italic
    text-align center
    color #999
    line-height 1.5em
    margin 0
