*
    outline none

.content
    width 980px
    margin auto
    overflow hidden

#sidebar
    width 160px
    border-top 0
    padding-top 0
    float left
    text-align right
    margin 10px 40px 0 0
    overflow: hidden

.site-header
    width 980px
    margin 0 auto
    margin-bottom 30px
    overflow hidden

#searchForm
    width 300px
    float left
    margin-top 5px
    input[type="search"]
        background #fff url(../images/search_icon.png) center right no-repeat
        background-position-x 97%
        color #ccc
        font-weight 300
        font-style normal
        border 1px solid #DEDEDC
        padding 0 10px
        padding-right 25px
        height 30px
        font-size 13px
        -webkit-border-radius 999em
        -moz-border-radius 999em
        border-radius 999em

#nav
    text-transform uppercase
    word-spacing 4px
    text-align right
    float right
    margin 0
    margin-top 10px
    a
        text-decoration none
        color #333
        padding-left 5px
        font-size 15px

.notfound
    margin 0 auto
    display block
    background url("../images/404.png") top center no-repeat
    height 219px
    padding-top 50px
    padding-left 100px
    margin-bottom 10px
    h3
        &.fourofour
            font-size 60px

