.prev-next
    border-top 1px solid #e0e0df
    overflow auto

.prev-post,
.next-post
    width 50%
    float left
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box
    margin-top 10px

.prev-post>a.title,
.next-post>a.title
    display block
    font-size 16px
    white-space nowrap
    text-overflow ellipsis
    overflow hidden
    line-height 1.2
    -webkit-border-radius 3px
    -moz-border-radius 3px
    -ms-border-radius 3px
    -o-border-radius 3px
    border-radius 3px
    padding 10px 20px 10px 10px
    text-align left

.prev-post>a.title:hover,
.next-post>a.title:hover
    background-color #e9573f
    color #fff
    text-decoration none
    background #e9573f url("../images/icon-arrow-white2.png") no-repeat 1% center
    background-size 20px
    color #fff
    text-decoration none

.prev-post>a.title span,
.next-post>a.title span
    padding-left 20px
    white-space nowrap
    text-overflow ellipsis
    overflow hidden
    display block

.next-post
    & > a
        &.title
            text-align right
            padding-right 25px
            span
                padding-left 0
            &:hover
                background #e9573f url("../images/icon-arrow-white.png") no-repeat 99% center
                background-size 20px
                color #fff
                text-decoration none