pre
    background #272727
    word-wrap break-word
    padding 10px 15px
    color #fdce93
    -moz-border-radius 3px
    -webkit-border-radius 3px
    border-radius 3px
    font-family 'Ubuntu Mono'
    font-weight 400
    font-size 15px
    code
        color #f8f8f2
        padding 0
        margin 0
        border 0
        font-family 'Ubuntu Mono'
        font-weight 400
        font-size 15px
    .comment
        color #717e8b
    .constant
        color #ff6b6b
        &.language
            color #268bd2
        &.regexp
            color #2aa198
    .storage
        color #4CA9EB
    .inherited-class
        font-style italic
    .entity
        color #FF5454

pre .comment.docstring,
pre .string
    color #c7f464

pre .string.regexp,
pre .string.regexp.close,
pre .string.regexp.open,
pre .support.tag.script,
pre .support.tag.style
    color #2aa198

pre .keyword,pre .selector
    color #4ecdc4

[data-language="c"] .function.call,
pre .support
    color #859900

pre .support.method,
pre .support.property,
pre .variable.class,
pre .variable.global,
pre .variable.instance
    color #839496

/*pre .css-property
    color #F0C674

pre .css-value
    color #DE935F*/