.resume
    p
        margin-top 10px
        margin-bottom 10px
    h1
        margin-top 10px
        margin-bottom 10px
    h2
        color #777
        margin-bottom 5px
    h3
        margin-bottom 5px
    ul
        list-style-type disc
        margin 15px 0 15px 40px
    em
        color #aaa

.social
    width 980px
    margin 0 auto
    margin-bottom 30px
    text-align center
    a
        text-decoration none
        color #555
        padding-right 10px
        font-size 30px
        line-height 1.5
        -webkit-transition color 200ms ease-in
        -moz-transition color 200ms ease-in
        -o-transition color 200ms ease-in
        transition color 200ms ease-in

[data-icon]:before
    font-family 'icomoon'
    content attr(data-icon)
    speak none
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1
    -webkit-font-smoothing antialiased

.icon-tux,
.icon-github,
.icon-home,
.icon-google-plus,
.icon-facebook,
.icon-twitter,
.icon-feed,
.icon-search,
.icon-cancel
    font-family 'icomoon'
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1
    -webkit-font-smoothing antialiased

.icon-tux
    &:before
        content "\21"
    &:hover
        color #000

.icon-github
    &:before
        content "\22"
    &:hover
        color #4183c4

.icon-home
    &:before
        content "\23"

.icon-google-plus
    &:before
        content "\24"
    &:hover
        color #cc3b2b

.icon-facebook
    &:before
        content "\25"

.icon-twitter
    &:before
        content "\26"
    &:hover
        color #1dcaff

.icon-feed
    &:before
        content "\27"
    &:hover
        color #ff9900

.icon-search
    &:before
        content "\29"

.icon-cancel
    &:before
        content "\28"

